#navbar {
   overflow: hidden;
   background-color: green;
   /* border-radius: 25px; */
   width: 100%;
   margin: auto;
  
 }
 h1 {
    font-family: 'Courier Prime', monospace;
 }

 html, body {
  margin:0;
  padding:0;
  }

 #center {
    margin: auto;
    padding: 0px;
 }
 
 /* Navbar links */
 #navbar a {
   display: inline-block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px;
   text-decoration: none;
   border-radius: 25px;
   background-color: #009000;
 }
 
 /* Page content */
 .content {
   padding: 16px;
 }
 
 /* The sticky class is added to the navbar with JS when it reaches its scroll position */
 .sticky {
   position: fixed;
   top: 0;
   width: 100%;
 }
 
 /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
 .sticky + .content {
   padding-top: 60px;
 }